@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    &__photo {
        display: inline-block;
        margin-bottom: 0;
        border-radius: 50%;
        // background-clip: padding-box;
    }

    &__bio {
        margin: 0 1em 0 1em;
        // margin-left: 1em;

        &__title {
            font-size: $typographic-base-font-size * 1.125;
            font-weight: 600;
            @include line-height(1.125);
            margin: 0;
            &-link {
                color: $color-title;

                &:hover,
                &:focus {
                    color: $color-hover;
                }
            }
        }

        &__subtitle {
            color: $color-secondary;
            @include line-height(1);
            font-weight: 100;
            margin: 0 0 0 0;
        }
    }
}
